
.button {
  padding: 5px;
  border: 1px solid purple;
  color: purple;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  color: black;
  border: 1px solid black;
}

input {
  display: block;
  margin: 1em;
  padding: 4px;
  font-size: 16px;
}

#desiredSlot {
  display: inline;
}