body {
  font-family: 'Inconsolata';
  font-size: 24px;
  text-align: left;
  margin: 3em auto;
  width: 800px;
}

.person {
  padding-top: 12px;
  padding-left: 12px;
  height: 38px;
}

.nowPerson {
  background: limegreen;
}

.name {
  width: 250px;
  display: inline-block;
}

.button {
  border: 1px solid magenta;
  padding: 5px;
  color: magenta;
  cursor: pointer;
}

.button:hover, .button.selected {
  background-color: magenta;
  color: white;
}
