<!doctype html>
<html>
<head>
  <title>instructions 24H</title>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous'></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
  <script src="date.js"></script>
  <script src="jsrender.min.js"></script>
  <script src='config.js'></script>
  <script src='instructions.js'></script>
  <script src='db.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="instructions.css">

</head>
<body>

  <script id='personTmpl' type='text/x-jsrender'>
  <div id='{{:id}}' class='person {{:class}}'>
    {{:time}} - <span class='name'>{{:name}}</span>
    {{if name}}
    <span class='button personHere {{if status=="here"}}selected{{/if}}'>here</span>
    <span class='button personLeft {{if status=="left"}}selected{{/if}}'>left</span>
    <span class='button personNoshow {{if status=="noshow"}}selected{{/if}}'>noshow</span>
    {{/if}}
  </div>
  </script>


  <script id='lineTmpl' type='text/x-jsrender'>

  {{if intro}}
    <div class='direction'>
      <span class='intro'>introduce {{:a}} to {{:b}}</span> <span class='time'>{{:time}}</span>
    </div>
  {{else}}
    <div class='line'>
      <span class='to'>to {{:a}}:</span> <span class='time'>{{:time}}</span><br>
      <span class='msg'>{{:msg}}</span>
    </div>
  {{/if}}
  </script>

  <section id='left'>
    <h2>SCHEDULE</h2>
    <div id='people'></div>
  </section>
  
  <section id='right'>
    <h2>LINES</h2>
    <div id='lines'></div>
  </section>

</body>
</html>
