body {
  font-family: 'Inconsolata';
  font-size: 24px;
  text-align: left;
  margin: 1em auto;
  width: 1200px;
}

#left {
  width: 600px;
  float: left;
}

#right {
  width: 500px;
  float: right;
}

#people {
  height: 600px;
  overflow: scroll;
}

.person {
  padding-top: 12px;
  padding-left: 12px;
  height: 38px;
}

.nowPerson {
  background: limegreen;
}

.name {
  width: 240px;
  display: inline-block;
}

.button {
  border: 1px solid magenta;
  padding: 5px;
  color: magenta;
  cursor: pointer;
}

.button:hover, .button.selected {
  background-color: magenta;
  color: white;
}

.to {
  color: #ABABAB;
}

.line {
  margin-bottom: 1em;
}
