body {
  font-family: 'Inconsolata';
  font-size: 24px;
  text-align: center;
  margin: 3em;
}

p {
  line-height: 2em;
  width: 800px;
  margin: 0 auto;
  line-height: 2em;
}

a {
  text-decoration: none;
}

.button {
  margin: 1em;
  padding: 5px;
  color: magenta;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  color: orangered;
}

input {
  font-family: 'Inconsolata';
  font-size: 24px;
  display: block;
  margin: 1em auto 2em;
  padding: 4px;
  width: 500px;
  text-align: center;
}

#desiredSlot {
  display: inline;
  width: 325px;
}

.slot {
  color: orange;
  margin: 0.25em;
}

.slot:hover {
  color: orangered;
}

.selectedSlot, .slot.selectedSlot:hover  {
  color: orangered;
  font-weight: bold;
}
